*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.dashboard-container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background: rgba(0, 0, 0, 0.791);
    color:white;
    padding:20px;
}

.sidebar ul{
    list-style:none;
    margin-top:20px;
}

.sidebar li{
    width: 50px;
    cursor:pointer;
    color: rgb(0, 179, 255);
    text-decoration: underline;
}

.main-content{
    flex:1;
    background:#f8fafc;
}

.header{
    background:white;
    padding:20px;
    border-bottom:1px solid #ddd;
}

.content{
    padding:20px;
}